html, body {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
  
  width: 58em;
  min-height: 25em;
  height: auto;
  /*margin: auto;*/
  
  font-family:Geneva, Arial, Helvetica, sans-serif;
/*  color: black;
  background-color: white;*/
}

/*main > menuheader  {
  grid-area: headerarea;
  display: grid;
  grid-template-areas:
	'imgarea h1area audioarea';
  grid-template-columns:auto auto auto;
  grid-template-rows: 10em;
  text-align: left;
  font-size: 3em;
  color: black;
  background-color: white;
}

img {
	grid-area: imgarea;
	/*display: grid;*/
	/*float: left;
	width: 5em;
	color: black;
	background-color: white;
}

h1 { 
	grid-area: h1area; 
	/*display: grid;			   
	text-align:center;
	color: black;
	background-color: white;
	}

audio {
	grid-area: audioarea;
	/*display: grid;
    top: 50%;
    transform: translateY(50%);
	
	color: black;
	background-color: white;
}

nav {
	grid-area: menuarea;
	display: grid;
	grid-template-areas:
    'argumentoarea'
	'repartoarea'
	'galeriaarea'
	'trailerarea'
	'premiosarea';
	float: left;
	width: 80%;
	font-size: 1.5em;
	color: black;
	background-color: white;
	padding: 1.5em;
}

cargumento {
	grid-area: argumentoarea;
}

creparto {
	grid-area: repartoarea;
}

cgaleria {
	grid-area: galeriaarea;
}

ctrailer {
	grid-area: trailerarea;
}

cpremios {
	grid-area: premiosarea;
}

section {
	grid-area: sectionarea;
	/*float: left;
	width: 100%;
	font-size: 1.1em;
}

iframe {
	height: 89%;
	width: 100%;
    border:none;
}
*/
p {
	padding: 0.5em;
}

h2 {
	text-align: center;
	color: black;
	background-color: white;
}

li {
	line-height: 1.8;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	margin-left: 3.3em;
	list-style-type: square;
}

figure {
    float: left;
	clear: none;
}

figure > img {
	margin: 0.5em;
    border: 0.1em solid black;
    float: left;
	clear:both;
	width: auto;
	height: 20em;
}

figcaption {
    float: left;
	clear:both;
}

video {
	position: absolute;
	left: 50%;
    transform: translate(-50%);
}

caption {
	font-weight: bold;
	font-size: 1.6em;
	color: black;
	background-color: white;
  }
  
table {
	position: absolute;
	left: 50%;
    transform: translate(-50%);
	line-height: 1.8;
	text-align: left;
	width: 75%;
}

table, th, td {
    border: 0.1em solid gray;
    border-collapse: collapse;
	color:black;
    background-color: white;
}

th, td {
	padding: 0.7em;
}


@media only screen and (max-width: 768px) {
body {
	width: auto;
	
	height: auto;
	/*min-height: 25em;
	margin: auto;*/
  }

  h2, caption {
	font-size: 1em;
  }

  video {
	width: 95%;
  }

  th {
	width: 8%;
  }
}