/*Especificidad del selector: (0, 0, 1)*/
html, body {
	box-sizing: border-box;
	margin: 0 auto;
}

/*Especificidad del selector: (0, 0, 1)*/
body {
  
  width: 58em;
  min-height: 25em;
  height: auto;
  
  font-family:Geneva, Arial, Helvetica, sans-serif;
}

/*Especificidad del selector: (0, 0, 1)*/
p {
	padding: 0.5em;
}

/*Especificidad del selector: (0, 0, 1)*/
h1 {
	text-align: center;
	color: black;
	background-color: white;
}

/*Especificidad del selector: (0, 0, 1)*/
li {
	line-height: 1.8;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	margin-left: 3.3em;
	list-style-type: square;
}

/*Especificidad del selector: (0, 0, 1)*/
figure {
    float: left;
	clear: none;
}

/*Especificidad del selector: (0, 0, 2)*/
figure > img {
	margin: 0.5em;
    border: 0.1em solid black;
    float: left;
	clear:both;
	width: auto;
	height: 20em;
}

/*Especificidad del selector: (0, 0, 1)*/
figcaption {
    float: left;
	clear:both;
}

/*Especificidad del selector: (0, 0, 1)*/
video {
	position: absolute;
	left: 50%;
    transform: translate(-50%);
}

/*Especificidad del selector: (0, 0, 1)*/
caption {
	font-weight: bold;
	font-size: 1.6em;
	color: black;
	background-color: white;
  }
  
/*Especificidad del selector: (0, 0, 1)*/
table {
	position: absolute;
	left: 50%;
    transform: translate(-50%);
	line-height: 1.8;
	text-align: left;
	width: 75%;
}

/*Especificidad del selector: (0, 0, 1)*/
table, th, td {
    border: 0.1em solid gray;
    border-collapse: collapse;
	color:black;
    background-color: white;
}

/*Especificidad del selector: (0, 0, 1)*/
th, td {
	padding: 0.7em;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /*Especificidad del selector: (0, 0, 1)*/
  body {
	width: auto;
	height: auto;
  }

  /*Especificidad del selector: (0, 0, 1)*/
  h1, caption {
	font-size: 1em;
  }

  /*Especificidad del selector: (0, 0, 1)*/
  video {
	width: 95%;
  }

  /*Especificidad del selector: (0, 0, 1)*/
  th {
	width: 8%;
  }
}